@model IEnumerable<Hort_Ed.Models.Enrollments>

@{
    ViewData["Title"] = "Index";
}

<h2>Enrollment Rosters</h2>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seminar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeminarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KitSelection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnrollmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnrollmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnrollmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
