@model Hort_Ed.Models.Transactions

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transactions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChangeDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChangeAction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChangeAction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Address1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kit.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seminar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seminar.SeminarId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
